.aboutPage h1::before {
  content: "<h1>";
  font-family: "La Belle Aurore";
  font-size: 20px;
  position: absolute;
  top: -40px;
  left: -10px;
  opacity: 0.8;
  line-height: 18px;
}
.aboutPage h1::after {
  content: "</h1>";
  font-family: "La Belle Aurore";
  font-size: 20px;
  position: absolute;
  left: -30px;
  bottom: -40px;
  margin-left: 20px;
  opacity: 0.8;
  line-height: 18px;
}
.aboutPage p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  min-width: fit-content;
  font-family: "sans-serif";
  animation: pulse 2s;
}
.aboutPage p:nth-of-type(1) {
  animation-delay: 0.1s;
}
.aboutPage p:nth-of-type(2) {
  animation-delay: 0.3s;
}
.aboutPage p:nth-of-type(3) {
  animation-delay: 0.5s;
}
.textAnimateHover:hover {
  color: #fff;
}
